section.quote 
    .container 
        .quote-container 
            //- i.fa.fa-angle-left.quote-arrow-left.quote-arrow 
            .quote-item 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.
                    span.quote-author Joe Doe
            //- i.fa.fa-angle-right.quote-arrow-right.quote-arrow
            .quote-item 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.
                    span.quote-author Joe Doe
            .quote-item 
                .quote-icon 
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.
                    span.quote-author Joe Doe