section.service 
    .container 
        +blockBox("We work with","Amazing Services")
        .service-container
            .service-list 
                +serviceItem("fa fa-clock","Photography","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
                +serviceItem("fa fa-laptop","Web Design","Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
                +serviceItem("fa fa-home","Creativity","Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
            .service-list
                +serviceItem("fa fa-water","CEO","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
                +serviceItem("fa fa-heart","CSS/HTML","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
                +serviceItem("fa fa-phone","digital","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")