section.team 
	.container 
		+blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.consectetur adipiscing elit, sed do eiusmod tempor.")
		.team-list
			+teamItem("../images/img-team1.png","Matthew Dix","Graphic Design") 
			+teamItem("../images/img-team2.png","christopher Dix","UX Design") 
			+teamItem("../images/img-team3.png","Matthew fertig","Developer")
section.brand 
	.container 
		img(src="../images/img-logos.png", alt="brand")
			